@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
}

@media only screen and (max-width: 1023px){
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}

	.nav-outer .mobile-nav-toggler{
		display: block !important;
		margin: 0;
		padding: 24px 0;
	}
	
	.main-header .header-upper .nav-outer:before{
		display:none !important;	
	}

	.main-header .dropdown > a > i{
		display: none !important;
	}
	
	.main-header .nav-outer{
		display: flex !important;
		align-items: center !important;
		justify-content: flex-start !important;
		margin-left: 10px !important;
		width:auto;
		float:none;	
	}
	
	.main-header .nav-outer .logo-outer{
		position:relative !important;
		left:0 !important;
		top: 8px !important;
		width:auto !important;
		height:auto !important;
		margin:0 !important;
		-webkit-transform: translateX(0) !important;
		-ms-transform: translateX(0) !important;
		transform: translateX(0) !important;	
	}

	.nav-outer .mobile-nav-toggler{
		position: absolute !important;
		right: 10px;
		top: 60%;
		transform: translateY(-50%) !important;
		line-height: 50px !important;
		display: block !important;
		margin: 0;
		padding: 24px 0;
	}

	/* =============== section Footer ================ */
      .footer-text{
        display: flex !important;
        position: relative;
        gap: 60px !important;
        padding: 20px 20px 0 20px !important;
      }
      .logo-section{
        margin-left: 0px !important;
      }
      .section-3{
        margin-top: -20px !important; 
      }
}

@media screen and (max-width: 768px) {
  /*================SECTION HERO================*/
  .hero-section { 
    height: 100vh !important;
  }
  .background {
    background-image: url("../image/section_hero/background-mobile.png") !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    background-attachment: fixed !important;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .hero-section .hero-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    margin-top: 0 !important;
  }
  .hero-section .hero-wrapper .text-hero {
      width: 100%;
      max-width: 300px !important;
      margin: 0 auto;
  }
  .text-hero h1 {
      font-size: clamp(3.18rem, 3vw, 3.5rem) !important;
      text-align: center;
  }
  .text-hero p {
      font-size: clamp(1.4rem, 3vw, 1.8rem) !important;
      text-align: center;
  }
  .overlay-hero{
      width: 100%;
      height: 140px !important;
      bottom: -10px !important;
      left: 0;
  }

  /*================SECTION HIMTIKA================*/
  .himtika-section {
    padding-bottom: 4em !important; 
    max-width: 100%;
  }
  .himtika-section .himtika-text {
    max-width: 80% !important; 
    margin-bottom: -1.5em !important;
  } 
  .himtika-section .himtika-text h1 {
    font-size: clamp(2rem, 5vw, 2rem) !important; 
  }

  /*================SECTION SAPA-SINERGIS================*/
  .sapa-sinergis {
    position: relative;
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%;
  }
  .sapa-sinergis .sinergis-wrapper {
    margin-top: -5em !important;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .sapa-sinergis .sinergis-wrapper .sinergis-text {
    order: 1;
    text-align: center;
    flex: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }
  .sinergis-text h1{
    max-width: 350px !important;
    text-align: center;
    font-size: clamp(2.5rem, 3vw, 3rem) !important;
    margin-bottom: 1em;
  }
  .sinergis-text p{
    max-width: 300px !important;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.1rem) !important;
    font-weight: 300;
    padding: 5px 10px;
    display: inline-block;
  }
  .sapa-sinergis .sinergis-wrapper .sinergis-image {
    order: 2;
    flex: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -15em;
  }
  
  .sinergis-image img {
    object-fit: contain;
    max-width: 110%;
    height: auto;
    display: block;
    transform: scale(1.3) !important ;
  }
  .overlay-sinergis {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 130px !important;
    width: 100%;
    z-index: 9 !important;
    pointer-events: none;
  }

  /*================SECTION MAKNA SINERGIS ================*/
  .makna-sinergis {
    height: 130vh !important;
  }
  .container-text h1 {
    font-size: clamp(2.5rem, 5vw, 3rem) !important;
  }
  
  .container-text p {
    font-size: clamp(1rem, 4vw, 1.2rem) !important;
    max-width: 350px !important;
  }
  .container-accordion {
    width: 370px !important;
  }
  .container-accordion li label {
    font-size: 1.2rem !important;
    padding: 10px !important;
  }
  .container-accordion .content {
    flex-direction: column;
    text-align: center;
    padding: 0 !important;
  }

  .content img {
    max-width: 50% !important; 
    margin-bottom: -20px;
  }

  .content p {
    text-align: center !important;
    margin-left: 0 !important;
    font-size: 0.9rem !important;
  }
  .cahaya-kanan{
    width: 100% !important;
    transform: scale(1.5);
    bottom: 49% !important;
    left: 20% !important;
  }
  .cahaya-kiri{
    width: 100% !important;
    transform: scale(1.5);
    top: 60% !important;
    right: 20% !important;
  }
  .awan-bawah {
    height: 160px !important;
    bottom: 0 !important;
  }
  /* =============== section Footer ================ */
  .footer-text{
    display: flex !important;
    position: relative;
    gap: 70px !important;
    padding: 20px 0 0 20px !important;
  }
  .logo-section{
    margin-left: 0px !important;
  }
  .section-3{
    margin-top: -40px !important; 
  }
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}
