/*================ RESPONSIVE DESIGN ================*/
@media (max-width: 768px) {
    .hero-section .hero-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .text-hero {
        margin-bottom: 20px;
    }

    .image-hero img {
        width: 80%; /* Sesuaikan ukuran pada layar kecil */
        transform: scale(1.3);
    }
}
